@import "../../utils";

table {
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(0.5rem, 0.5rem + 3vw, 0.9rem);
}

tr {
    border-bottom: 1px solid $light-gray;
}

th {
    cursor: pointer;
    color: $gray;
    transition: all 0.3s ease-in-out;

    &:nth-child(2) {
        text-align: left;
    }
}

th:hover {
    color: $black;
}

th,
td {
    padding: 1em 0.75em;
    font-weight: 500;
    text-align: right;
    min-width: 48px;

    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(10) {
        display: none;
    }
}

td {
    font-weight: 400;
}

.sort {
    color: $black;
}

@media (min-width: 50em) {
    table {
        width: 100%;
    }

    th,
    td {
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(10) {
            display: table-cell;
        }
    }
}
