@import "../../utils";

table {
    margin-top: 10em; // for dev
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(0.5rem, 0.5rem + 3vw, .9rem);
}

tr {
    border-bottom: 1px solid $light-gray;
}

th:hover {
    cursor: pointer;
    color: $black;
    transition: all .3s ease-in-out;
}

th,
td {
    padding: 1em .75em;
    color: $black;
    font-weight: 500;
    text-align: right;
    min-width: 48px;

    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(10) {
        display: none;
    }
}

td {
    font-weight: 400;
}

.coin {
    text-align: left;
    // width: 2em;
}

.no-sort {
    color: $gray;
}

@media (min-width: 50em) {
    table {
        width: 100%;
    }

    th,
    td {
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(10) {
            display: table-cell;
        }
    }
}
